
@{
    ViewBag.Title = "HistoryCheck";
}

<h2>History</h2>



<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("As User", "MyRequisitionHistory")</li>
        <li>@Html.ActionLink("As Recommender", "RecommenderRequisitionHistoryCheckAsRecommender")</li>

    </ul>
</div>