
@{
    ViewBag.Title = "StoreInChargeRequisitionHistoryCheck";
}

<h2>StoreInChargeRequisitionHistoryCheck</h2>

<li>@Html.ActionLink("As User", "MyRequisitionHistory")</li>
<li>@Html.ActionLink("As Store In Charge", "StoreInChargeRequisitionHistoryCheckAsStoreInCharge")</li>