@{
    ViewBag.Title = "Inventory Management System";
}

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Sign Up", "SignUp", "Users")</li>
        <li>@Html.ActionLink("Sign In", "Login", "Users")</li>
    </ul>
</div>

<div class="homeImage">
    <img src="~/Images/MainImage.jpg" />
</div>

<div class="home">
    <p>
        The Inventory Management System (IMS) is a complete automated system to keep track of all the inventories of Institute of
        Information Technology, University of Dhaka.
    </p>

    <p>
        The is a web-based system. In
        this system, when inventories are brought to store, all necessary documents
        will be preserved in the system. People who use inventories will make
        requisition slip in an automated way and all the verifications for the slip will be
        done through the system. The IMS provides a smart process to
        keep tracks of the present inventories besides their transactions’ information.
    </p>

    <p>
        Using this system user will be able to prepare requisition slip and send it to the
        store-in-charge, Recommender will recommend and Director will verify the
        requisition slip. The store-in-charge will manage all these tasks through this
        system. All the users will also communicate with each other by sending
        notifications.
    </p>
</div>