@{
    ViewBag.Title = "SetRecommenderOrDirector";
}

<h2>SetRecommenderOrDirector</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Set Recommender", "SetRecommender", "System")</li>
        <li>@Html.ActionLink("Set Director", "SetDirector", "System")</li>
    </ul>
</div>